[submodule "sso"]
	path = sso
	url = https://github.com/koharudin/sso-brin.git
	branch = devbrin
[submodule "keycloak-src"]
	path = keycloak-src
	url = https://github.com/keycloak/keycloak.git
	branch = main
[submodule "keycloak_client_laravel"]
	path = keycloak_client_laravel
	url = https://github.com/koharudin/keycloak_client_laravel.git
	branch = main
[submodule "keycloak_client_php"]
	path = keycloak_client_php
	url = https://github.com/koharudin/keycloak_client_php.git
	branch = main
[submodule "keycloak-image"]
	path = keycloak-image
	url = https://github.com/koharudin/keycloak-image.git
	branch = main
[submodule "keycloak-image-https"]
	path = keycloak-image-https
	url = https://github.com/koharudin/keycloak-image-https.git
	branch = main
